<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sensation.snapmemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".tool.MyApplication"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver android:name=".widget.DesktopWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
        <receiver android:name=".receiver.AlarmReceiver" />

        <service android:name=".service.AlarmService" />
        <service android:name=".service.SnapListenerService" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/title_activity_start" />
        <activity
            android:name=".activity.ContentActivity"
            android:label="@string/title_activity_content" />
        <activity
            android:name=".activity.UserSettingsActivity"
            android:label="@string/title_activity_user_settings" />
        <activity
            android:name=".activity.SigninActivity"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
